<!DOCTYPE HTML>
<html>
<head>
    <title>Welfare A Charity Category Flat bootstrap Responsive  Website Template| Contact :: w3layouts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="/Content/site/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Content/site/css/responsiveslides.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="top-header">
                <div class="top-header-left">
                    <p>welfare Agency</p>
                    <p>COMPANY</p>
                </div>
                <div class="top-header-right">
                    <div class="top-header-contact-info">
                        <p>GET FREE CONSULTATION:</p>
                        <span>1 800 123 1234</span>
                    </div>
                    <div class="top-header-contact-account" style="width: 40%">
                        <div class="social" style="margin-top:0px">
                            <ul>
                                <li><a href="#"><i class="facebook"></i></a></li>
                                <li><a href="#"><i class="twitter"></i></a></li>
                                <li><a href="#"><i class="dribble"></i></a></li>
                                <li><a href="#"><i class="google"></i></a></li>
                            </ul>

                            @if (HttpContext.Current.Session["UserType"] != null && HttpContext.Current.Session["UserType"].ToString() == "Donor")
                            {
                                <a href="/Donors/ProfileView" style="margin-left: 15px;color: black;text-decoration: underline;font-weight: 600;">@HttpContext.Current.Session["Username"]</a>
                                <a href="/Donors/Logout" style="margin-left: 15px;color: black;text-decoration: underline;font-weight: 600;">Logout</a>
                            }
                            else
                            {
                                <a href="/Donors/Login" style="margin-left: 15px;color: black;text-decoration: underline;font-weight: 600;">Login</a>
                                <a href="/Donors/Register" style="margin-left: 15px;color: black;text-decoration: underline;font-weight: 600;">Register</a>
                            }
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="main-header">
                <div class="logo">
                    <a href="index.html"><img src="/Content/site/images/logo2.png" title="logo" /></a>
                </div>
                <div class="top-nav">
                    <span class="menu"></span>
                    <ul>
                        <li id="home"><a href="/Home">Home</a></li>
                        <li id="donor"><a href="/Donors">Donors</a></li>
                        <li><a href="/Home/Events">Events</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="grid_12">
                <img src="/Content/site/images/clr.jpg" class="img-responsive">
            </div>
        </div>
    </div>

    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="col-md-3 ftr_navi ftr">
                <h3>NAVIGATION</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr_navi ftr">
                <h3>MEMBERS</h3>
                <ul>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">Platinum Support</a></li>
                    <li><a href="#">Gold Support</a></li>
                    <li><a href="#">Standard Support</a></li>
                    <li><a href="#">Training</a></li>
                </ul>
            </div>
            <div class="col-md-3 get_in_touch ftr">
                <h3>GET IN TOUCH</h3>
                <p>Ola-ola street jump,</p>
                <p>260-14 City, Country</p>
                <p>+62 000-0000-00</p>
                <p>email[at]example-site.com</p>
                <a href="mailto:mail@mlampah.com">www.example.com</a>
            </div>
            <div class="col-md-3 ftr-logo">
                <a href="index.html"><img src="/Content/site/images/frt-lg.png" alt="" /></a>
                <p>&copy; @DateTime.Now.Year All Rights Reseverd Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
            $("span.menu").click(function () {
                $(".top-nav ul").slideToggle("slow", function () {
                });
            });

            $(".top-nav a").each(function () {
                var href = window.location.href;
                if (href[href.length - 1] == '/')
                    href = href.slice(0, -1);

                var loc = window.location;
                var baseUrl = loc.protocol + "//" + loc.hostname + (loc.port ? ":" + loc.port : "");

                if (href.toLowerCase() == baseUrl.toLowerCase() || href.toLowerCase() == baseUrl + "/home/index")
                    $('#home').addClass('active');

                if (href.toLowerCase() == baseUrl + "/donors" || href.toLowerCase() == baseUrl + "/Donors/index")
                    $('#donor').addClass('active');

                if (this.href == href)
                    $(this).closest('li').addClass("active");
            });

            $(function () {
                $(".datepicker").datepicker({dateFormat: 'M dd, yy'});
            });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
