@model BloodBank.Models.EntityDiagram.Donor
@{
    ViewBag.Title = "ProfileView";
}

<div class="content">
    <div class="container">
        <div class="contact">
            <div class="contact-header">
                <h3>My Information</h3>
                <ol class="breadcrumb">
                    <li><a href="/Donors">Donor</a></li>
                    <li class="active">Profile</li>
                </ol>
            </div>
            <div class="contact-grids">
                <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 contact_left">
                    <h3>Update Form</h3>
                    <form method="post" action="/Donors/ProfileView">
                        <div class="form_details">
                            <input type="text" class="text" value="@Model.FullName" name="FullName" placeholder="Enter Full Name" required>
                            <input type="text" class="text" value="@Model.Mobile" name="Mobile" placeholder="Enter Mobile Number">
                            <input type="text" class="text datepicker" value="@(Model.DateOfBirth != null? Model.DateOfBirth.Value.ToString("MMM dd, yyyy"): "")" name="DateOfBirth" placeholder="Enter Date of Birth">
                            <input type="text" class="text" value="@Model.Email" name="Email" placeholder="Enter Email Address">
                            <select class="text" name="BloodGroup" required>
                                <option value="">Select Blood Group</option>
                                <option selected>@Model.BloodGroup</option>
                                <option>A+</option>
                                <option>B+</option>
                                <option>AB+</option>
                                <option>O+</option>
                                <option>A-</option>
                                <option>B-</option>
                                <option>AB-</option>
                                <option>O-</option>
                            </select>
                            <select class="text" name="DontationStatus" required>
                                <option value="">Select Blood Donation Status</option>
                                <option selected>@Model.DontationStatus</option>
                                <option>Can Donate Anytime</option>
                                <option>Can Donate if Emergency</option>
                                <option>Recently Donated</option>
                                <option>Can Manage a Donor</option>
                            </select>
                            <input type="text" class="text" value="@Model.Address" name="Address" placeholder="Enter Address" required>
                            <input type="text" class="text" value="@Model.Area" name="Area" placeholder="Enter Area" required>
                            <input type="text" class="text" value="@Model.District" name="District" placeholder="Enter District" required>
                            <div class="clearfix"> </div>
                            <input name="submit" type="submit" value="Update">
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>