@model BloodBank.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<style>
    .project_grids h3 {
        margin-bottom:18px
    }
    .featured {
        margin: 2em 0;
    }
    b {
        font-weight: bold;
    }
    .chrty p {
        line-height: 23px;
        max-height: 92px;
        overflow: hidden;
    }
</style>
<div class="container">
    <!---End-header--->
    <!--start-image-slider---->
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/Content/Images/02.jpg" /></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
</div>
<!---start-content----->
<div class="content">
    <div class="container">
        <div class="content-grids">
            <h2>Establishment and management of charitable trusts, foundations or endowment funds</h2>
            <div class="col-md-4 contnt-grids">
                <img src="/Content/images/002.jpg" class="img-responsive" alt="" />
                <div class="caption2">
                    <h3><a href="#">Seasonal Campaigns</a></h3>
                </div>
            </div>
            <div class="col-md-4 contnt-grids cntr">
                <img src="/Content/images/003.jpg" class="img-responsive" alt="" />
                <div class="caption2">
                    <h3><a href="#">Blood Storage</a></h3>
                </div>
            </div>
            <div class="col-md-4 contnt-grids">
                <img src="/Content/images/001.jpg" class="img-responsive" alt="" />
                <div class="caption2">
                    <h3><a href="#">Media & News</a></h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---start-content//----->
<div class="recent">
    <div class="container">
        <div class="recent-head">
            <h3>Who We Are?</h3>
            <p>
                Donec tempus justo quis justo lobortis pulvinar. Proin non ex ac ante rutrum elementum quis quis urna. Nulla facilisi.
                Suspendisse risus lorem, bibendum id augue et, viverra vulputate odio. Vestibulum ut dolor aliquet.
            </p>
        </div>
        <div class="charitys">
            <div class="col-md-4 chrt_grid">
                <div class="chrty">
                    <h3>Our Mission</h3>
                    <p>@Model.About.Mission</p>
                </div>
            </div>
            <div class="col-md-4 chrt_grid middle">
                <div class="chrty">
                    <h3>Our Vision</h3>
                    <p>@Model.About.Vision</p>
                </div>
            </div>
            <div class="col-md-4 chrt_grid">
                <div class="chrty">
                    <h3>Our Charitable Works</h3>
                    <p>@Model.About.CharitableWorks</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-12"><a class="btn pull-right" href="/Home/About">View Details</a></div>
    </div>
</div>
<!---->
<div class="join">
    <div class="container">
        <div class="col-md-9 join-info">
            <h3>We Do A Let To Make All The People Of The World Happy</h3>
            <p>Donec tempus justo quis justo lobortis pulvinar. Proin non ex ac ante rutrum elementum quis quis urna. Nulla facilisi.</p>
        </div>
        <div class="col-md-3 join-link">
            <a href="/Donors/Register">Join Us</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<div class="featured">
    <div class="container">
        <div class="project_grids">
            <div class="row">
                <div class="project2 fetur">
                    <h3 class="col-lg-12">RECENTLY JOINED DONORS</h3>
                    @foreach (var item in Model.Donors)
                    {
                        <div class="col-sm-4">
                            <div class="chrty">
                                <h5>@item.FullName &nbsp;<small style="font-style: italic; font-size: 85%">(@item.DontationStatus)</small></h5>
                                <p style="margin-bottom:0; line-height: 1.8; margin-top: 5px;">
                                    <b>Blood Group:</b> @item.BloodGroup
                                    <br />
                                    @item.Area, @item.District
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn pull-right" href="/Donors">View Donor List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="featured">
    <div class="container">
        <div class="project_grids">
            <div class="row">
                <div class="project2 fetur">
                    <h3 class="col-lg-12">UPCOMING EVENTS</h3>
                    @foreach (var item in Model.Events)
                    {
                        <div class="col-sm-4">
                            <div class="chrty">
                                <h5>@item.Title</h5>
                                <p style="margin-bottom:0; line-height: 1.8; margin-top: 5px;">
                                    <span class="glyphicon glyphicon-map-marker"></span> @item.Location;
                                    <span class="glyphicon glyphicon-time"></span> @item.EventDate.ToString("MMM dd, yyyy")
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn pull-right" href="/Home/Events">View Event List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->