@model BloodBank.Models.EntityDiagram.Donor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Donors </h3>
        </div>
        <div class="title_right">
            <a class="pull-right btn btn-primary" href="/ManageDonors/Index">Back</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Donor Detais</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.FullName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Mobile)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Mobile)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Full Address
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Address),
                                @Html.DisplayFor(model => model.Area),
                                @Html.DisplayFor(model => model.District)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Username)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Password)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BloodGroup)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.BloodGroup)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DonationStatus)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DonationStatus)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </td>
                        </tr>
                        <tr>
                            <th>Action</th>
                            <td>
                                <a href="/ManageDonors/Edit/@Model.ID" class="btn btn-primary">Edit</a>
                                <a class="btn btn-danger" onclick="show_modal('@Model.ID')">Delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
