@model BloodBank.Models.EntityDiagram.Admin

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Change Password</h3>
        </div>
        <div class="title_right">
            <a class="pull-right btn btn-primary" href="/ManageEvents/Index">Back</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Change Password</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="x_content">
                        <br />
                        <form action="/Admin/ChangePassword/@Model.ID" method="post" data-parsley-validate class="form-horizontal form-label-left">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            @Html.AntiForgeryToken()

                            <div class="form-group hide">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", rows = "5" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class = "control-label col-md-3" >Old Password</label>
                                <div class="col-md-9">
                                    <input name="OldPassword" type="password" class = "form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">New Password</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Retype Password</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", type = "password" })
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>